.order_box{
    height: 100px;
    width: 300px;
    border-radius: 20px;
    background-color: rgb(48, 48, 48);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 50px;
    column-gap: 10px;
    row-gap: 10px;
    overflow: hidden;
}

.txt{
    font-weight: bold;
    margin: 5px 15px;
}

body{
    background-color: aliceblue;
}
